packages:
  yum:
    nfs-utils: []
container_commands:
  01_migrate:
    command: "touch /tmp/migrate"
    leader_only: true
  02_collectstatic:
    command: "touch /tmp/collectstatic"
#    leader_only: true
  03_createsu:
    command: "touch /tmp/createsu"
    leader_only: true
  04_crawling:
    command: "touch /tmp/crawling"
    leader_only: true
  05_efs_mkdir:
    command: "sudo mkdir /efs"
  05_efs_mount:
    command: "sudo mount -t nfs4 -o nfsvers=4.1,rsize=1048576,wsize=1048576,hard,timeo=600,retrans=2 fs-10da3f71.efs.ap-northeast-2.amazonaws.com:/ /efs"